input{
  border-width: 0;
  background: rgb(189, 189, 189);
  padding-top: 6px;
}
input:focus {
  outline: none; /* Quitar el borde por defecto */
  border: none; /* Quitar el borde definido */
}

li{
  
}

body{
  font-family: cursive;
}